.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store
.idea/
.vscode/
build/
dist/

# Android
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/captures/
android/.idea/
android/app/release/
*.apk
*.aab

# iOS
ios/SafeDrop.xcodeproj/
ios/build/
ios/dist/
ios/DerivedData/
ios/*.xcworkspace/
ios/SafeDrop/Info.plist
.DS_Store
